@model ManagementApp.DataContext.Users

@Html.HiddenFor(m=>m.Id)
<tr>
    <td>
        @Html.EditorFor(m=>m.Name, new { htmlAttributes = new { @class = "form-control" } })
    </td>
    <td>
        @Html.ActionLink("Delete", "DeleteUser", new { id = Model.Id }, new { @class = "btn btn-danger" })
    </td>
</tr>